* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ffffff;
  display: grid;
  place-content: 100vh;
  margin: 0;
}

.title {
  font-size: 60px;
  font-weight: 600;
  color: red;
}

.text-primary-color {
  color: #7127BA
}

.bg-primary-color {
  background-color: #7127BA;
}